.autobox {
    border: thin solid grey;
    display: inline-block;
    text-align: left;
}

.claro .autoboxInput > * {
    height: 100%;
}

.autoboxInput {
    min-width: 10px;
    border: none;
    font-size: 18px;
    font-family: Courier New, monospace;
}

.dijitTextBox .autoboxInput:only-child {
    /* Ensures that the autobox uses all available space - otherwise the textbox only takes a portion of that available.
    This is only used when a single autobox exists.
     */
    width: 100% !important;
}

.claro .autoboxInput .dijitValidationContainer {
    display: none;
}

.autoboxInputError {
    border-bottom: thin solid red;
    margin-bottom: -1px;
}

.autoboxInputError input {
    /* Doesn't work, but would be perfect! */
    /*-webkit-text-decoration: underline wavy red;*/
    -moz-text-decoration: underline wavy red;
    /*text-decoration: underline solid red;*/
}

.autoboxToken {
    display: inline-block;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    font-family: monospace;
    background-color: #def;
    border: 1px solid #bcd;
    margin: 1px;
    color: #222;
    vertical-align: middle;
}

.autoboxToken,
.autoboxToken .autoboxLabel {
    min-height: 20px;
    line-height: 20px;
}

.autoboxToken .autoboxLabel {
    display: inline-block;
    font-size: 14px;
    padding-left: 5px;
    vertical-align: top;
}

.autoboxToken .autoboxButtons {
    margin-left: 4px;
}

.autoboxToken .autoboxButton {
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 14px !important;
    height: 14px !important;
    line-height: 12px;
    color: #444;
    cursor: pointer;
    font-weight: 700;
    margin: 3px 4px 3px 0px;
    text-align: center;
    vertical-align: top;
}

.autoboxToken .autoboxButton:hover {
    background-color: #8ae;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.autoboxToken .autoboxDelete {
    background-image: url('../images/x.png');
}

.autoboxToken .autoboxButtonHidden {
    display: none;
}
